@model IEnumerable<dgPadCms.Models.Term>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                TermId
            </th>
            <th>
                TermName
            </th>
            <th>
                TaxonomyName
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.TermId
            </td>
            <td>
                @item.TermName
            </td>
            <td>
                @item.Taxonomy.TaxonomyName
            </td>
            <td>
                    <a asp-action="Edit" asp-route-Termid="@item.TermId">Edit</a> |
                    <a class="confirmDeletion" asp-action="Delete" asp-route-Termid="@item.TermId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
